{% set menu = [
  ('/', 'index', 'Home'),
  ('/introduction/', 'introduction', 'About'),
  ('/download/', 'download', 'Download'),
] %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>
    <script type="text/javascript" src="/static/js/javascript.js"></script>
</head>
<body class="{% if active_page is defined %}{{ active_page }}{% endif %}">
<div id="container">
    <div id="header">
        <h1><a href="/">wxPython</a></h1>
        <ul id="nav">
            {% for href, id, caption in menu %}
                <li{% if id == active_page %} class="current"{% endif %}>
                    <a href="{{ href }}"><span>{{ caption }}</span></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% block precontent %}
    {% endblock %}
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer">
    <div id="footer-inside"><img style="float:left; clear:both;"
                                 src="/static/img/footer_social_media.png"
                                 width="153"
                                 height="60" alt="social media"/>
        <ul id="foot-nav">
            <li><a href="index.html"><span>Home</span></a></li>
            <li class="current"><a
                    href="introduction.html"><span>About</span></a></li>
            <li><a href="download.html"><span>Download</span></a></li>
            {#            <li><a href="#portfolio"><span>Portfolio</span></a></li>#}
            <li><a href="#blog"><span>Blog</span></a></li>
            <li><a href="#contact"><span>Contact</span></a></li>
        </ul>
        <p id="footer-logo"><a href="#">wxPython</a><span>Copyright &copy;
            2010 Design Instruct. All rights reserved.</span></p>
    </div>
</div>
</body>
</html>