{% extends 'base.html' %}
{% block title %}What is wxPython?{% endblock %}
{% block content %}
    <div id="doc">
        <h2 id="left-heading">Books</h2>
        <table width="100%" border="1" cellspacing="0"><tbody><tr><td>
<table width="100%" border="0" cellspacing="0" cellpadding="8"><tbody><tr><td>
<a href="http://www.amazon.com/gp/product/1932394621?ie=UTF8&amp;tag=wxpython-20&amp;linkCode=as2&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1932394621"><img src="/static/img/wxPyBook_cover_150.png" border="0" alt="wxPython in Action" align="left"></a>
</td><td>&nbsp;
</td><td valign="top">
<font size="+2"><b>wxPython in Action</b></font>
<br>by Noel Rappin and Robin Dunn
<br><br>

This is the first book about wxPython and offers a friendly tutorial to help you get started, a detailed guide to UI programming practices, and many samples of using wxPython to create and use user interface elements.  It covers an impressive amount of information  delivered at a measured pace, encouraging experimentation and learning by doing.

<p>
Available from:
<a href="http://www.manning.com/affiliate/idevaffiliate.php?id=189_23">Manning</a>,
<a href="http://www.amazon.com/gp/product/1932394621?ie=UTF8&amp;tag=wxpython-20&amp;linkCode=as2&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1932394621">Amazon</a>, and as an <a href="http://www.manning.com/affiliate/idevaffiliate.php?id=189_23">eBook</a>.

</p></td>
</tr>
</tbody></table>

</td></tr><tr><td>
<table width="100%" border="0" cellspacing="0" cellpadding="8"><tbody><tr><td valign="top">
<a name="wxPyCookbook">
</a><a href="http://www.amazon.com/gp/product/1849511780?ie=UTF8&amp;tag=wxpython-20&amp;linkCode=as2&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1849511780">
<img src="/static/img/wxPyCookbook-cover-large.jpeg" alt="wxPyCookbook-cover-large" width="150" height="185" align="left">
</a>
</td><td>&nbsp;
</td><td valign="top">
<font size="+2"><b>wxPython 2.8 Application Development Cookbook</b></font>
<br>by Cody Precord
<br><br>

This book includes a wealth of information on wxPython, application design, and programming approaches. The content of this book is based around wxPython 2.8 but the ideas are applicable to 2.9 and forward as well.  There are more than 80 practical recipes for developing feature-rich applications using wxPython, and plenty of example code to help you learn to quickly create robust, reliable, and reusable wxPython applications.

<p>
Available from:  <a href="https://www.packtpub.com/wxpython-2-8-application-development-cookbook/book">Packt Publishing</a>, <a href="http://www.amazon.com/gp/product/1849511780?ie=UTF8&amp;tag=wxpython-20&amp;linkCode=as2&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1849511780">Amazon</a>, and as an <a href="https://www.packtpub.com/wxpython-2-8-application-development-cookbook/book">eBook</a>.
</p></td></tr>
</tbody></table>
</td></tr>
</tbody></table>
    </div>
{% endblock %}
