{% extends 'base.html' %}
{% set active_page = 'index' %}
{% block precontent %}
    <div id="featured">
        <div id="feature-description">
            <h2 id="why-us">Why Choose wxPython?</h2>
            <p>Welcome to the home of wxPython, a blending of the
                <a href="http://wxwidgets.org/" target="_top">wxWidgets</a> C++ class library
                with the <a href="http://www.python.org/" target="_top">Python</a> programming language.
            </p>
            <p id="about-us-button"><a href="/download/">Download</a></p>
            <!--<img id="florish" src="static/img/florish.png" width="200" height="85" alt="Florish" /> -->
        </div>
        <div id="feature-slider">
            <div class="slides-holder">
                <div class="slide-meta">
                    <div class="description">
                        <h3>wxpython.org</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum imperdiet hendrerit. Quisque tincidunt aliquam</p>
                    </div>
                    <ul class="controls">
                        <li class="left">Left</li>
                        <li class="right">Right</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="left">
      <h3>Quotes</h3>
      <p>Here's what people are saying about wxPython...</p>
      <a class="read-more" href="/quotes/">Read More</a>
      <h3>How to learn wxPython</h3>
      <p>We have had a lot of questions on the newsgroup asking how to go about learning wxPython. This page gives some pointers on how to do just that.</p>
      <a class="read-more" href="http://wiki.wxpython.org/How_to_Learn_wxPython">Read More</a>
      <h3>Search Engine Optimization</h3>
      <p>Quisque tincidunt aliquam justo, eu volutpat odio tempus nec. Fusce semper tortor a tellus ornare sed consequat diam elementum. Quisque tincidunt aliquam justo, eu volutpat odio tempus nec. Fusce semper...</p>
      <a class="read-more" href="#readmore">Read More</a>
    </div>
    <div id="mid">
      <h3>Screenshots</h3>
      <img src="/static/img/ss/wx/test3.gif" width="310" alt="Devise Function" />
      <p>Some screenshots of appications when use wxPython library</p>
      <a class="read-more" href="/screenshots/">Read More</a>
      <h3>Books</h3>
      <img src="/static/img/wxPyBook_cover_150.png" alt="wxPython in Action" width="155">
      <p>Book about development with wxPython</p>
      <a class="read-more" href="/books/">Read More</a>
    </div>
    <div id="right">
      <h3>Recent changes</h3>
      <ul id="recent-entries">
        <li><a href="#"><strong>Lorem ipsum dolor sit amet</strong></a></li>
        <li><strong><a href="#">Morbi vestibulum</a></strong></li>
        <li><strong><a href="#">Fusce semper tortor a tellus</a></strong></li>
        <li><strong><a href="#">Lorem ipsum dolor sit amet</a></strong></li>
        <li><strong><a href="#">Morbi vestibulum</a></strong></li>
        <li><strong><a href="#">Fusce semper tortor a tellus</a></strong></li>
        <li><strong><a href="#">Lorem ipsum dolor sit amet</a></strong></li>
        <li><strong><a href="#">Morbi vestibulum</a></strong></li>
        <li><strong><a href="#">Fusce semper tortor a tellus</a></strong><a href="#"></a></li>
      </ul>
      {#<div id="newsletter">
        <p>Subscribe to get the latest updates delivered right to your inbox. What's not to love?</p>
        <p id="newsletter-input">
          <input id="newsletter-email" type="text" />
          <input id="newsletter-submit" type="submit" value="go"  />
        </p>
      </div>#}
    </div>
{% endblock %}
