{% extends 'base.html' %}
{% set active_page = 'index' %}
{% block title %}wxPython{% endblock %}
{% block precontent %}
    <div id="featured">
        <div id="feature-description">
            <h2 id="why-us">Why Choose wxPython?</h2>
            <p>Welcome to the home of wxPython, a blending of the
                <a href="http://wxwidgets.org/" target="_top">wxWidgets</a> C++ class library
                with the <a href="http://www.python.org/" target="_top">Python</a> programming language.
            </p>
            <p id="about-us-button"><a href="/download/">Download</a></p>
            <!--<img id="florish" src="static/img/florish.png" width="200" height="85" alt="Florish" /> -->
        </div>
        <div id="feature-slider">
            <div class="slides-holder">
                <div class="slide-meta">
                    <div class="description">
                        <h3>wxpython.org</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum imperdiet hendrerit. Quisque tincidunt aliquam</p>
                    </div>
                    <ul class="controls">
                        <li class="left">Left</li>
                        <li class="right">Right</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="left">
      <h3><a href="/quotes/">Quotes</a></h3>
      <p>Here's what people are saying about wxPython...</p>
      <p class="read-more"></p>
      <h3><a href="http://www.cafepress.com/wxpython/">Get the T-shirt</a></h3>
      <img src="/static/img/wxpython_white_tshirt.jpeg" width="155" alt="" />
      <p>Buy a nice T-shirt and other</p>
      <p class="read-more"></p>
      <h3><a href="http://wiki.wxpython.org/How_to_Learn_wxPython">How to learn wxPython</a></h3>
      <p>We have had a lot of questions on the newsgroup asking how to go about learning wxPython. This page gives some pointers on how to do just that.</p>
      <p class="read-more"></p>
    </div>
    <div id="mid">
      <h3><a href="/presentations/">Presentations</a></h3>
      <p>Presentation from conferencies</p>
      <p class="read-more"></p>
      <h3><a href="/screenshots/">Screenshots</a></h3>
      <img src="/static/img/ss/wx/test3.png" width="180" alt="Devise Function" />
      <p>Some screenshots of appications when use wxPython library</p>
      <p class="read-more"></p>
      <h3><a href="/changes/">Recent changes</a></h3>
      <ul id="recent-entries">
        <li><a href="/changes/#id1"><strong>2.9.4.0 at 21-July-2012</strong></a></li>
        <li><a href="/changes/#id2"><strong>2.9.3.1 at 29-Dec-2011</strong></a></li>
        <li><a href="/changes/#id3"><strong>2.9.3.0 at 26-Dec-2011</strong></a></li>
        <li><a href="/changes/#id4"><strong>2.9.2.4 at 9-Sept-2011</strong></a></li>
        <li><a href="/changes/#id5"><strong>2.9.2.3 at 8-Sept-2011</strong></a></li>
        <li><a href="/changes/#id6"><strong>2.9.2.2 at 5-Sept-2011</strong></a></li>
      </ul>
      <p class="read-more"></p>
    </div>
    <div id="right">
      <h3><a href="/search/">Search</a></h3>
      <p>Search by site</p>
      <p class="read-more"></p>
      <h3><a href="/books/">Books</a></h3>
      <img src="/static/img/wxPyBook_cover_150.png" alt="wxPython in Action" width="123">
      <p>Book about development with wxPython</p>
      <p class="read-more"></p>

      {#<div id="newsletter">
        <p>Subscribe to get the latest updates delivered right to your inbox. What's not to love?</p>
        <p id="newsletter-input">
          <input id="newsletter-email" type="text" />
          <input id="newsletter-submit" type="submit" value="go"  />
        </p>
      </div>#}
      <h3>More links</h3>
      <ul id="recent-entries">
        <li><a href="http://wiki.wxpython.org/" alt=""><strong>wxPyWiki</strong></a></li>
        <li><a href="http://wxpython.org/blog/" alt=""><strong>wxForty-Two</strong></a></li>
        <li><a href="/maillists/" alt=""><strong>Mail lists</strong></a></li>
        <li><a href="/irc/" alt=""><strong>Chat</strong></a></li>
        <li><a href="http://svn.wxwidgets.org/viewvc" alt=""><strong>Browse code</strong></a></li>
        <li><a href="http://trac.wxwidgets.org/" alt=""><strong>Submit a patch or bug</strong></a></li>
        <li><a href="http://trac.wxwidgets.org/" alt=""><strong>Feature Request</strong></a></li>
        <li><a href="/contribute/" alt=""><strong>Contribute</strong></a></li>
        <li><a href="/purchase/" alt=""><strong>Support</strong></a></li>
        <li><a href="/codeguidelines/" alt=""><strong>Code guidelines</strong></a></li>
      </ul>
    </div>
{% endblock %}
