{% extends 'base.html' %}
{% set active_page = 'introduction' %}
{% block title %}What is wxPython?{% endblock %}
{% block content %}
    <div id="doc">
        <h2 id="left-heading">Screenshots</h2>
<p>

This one shows a bit of the drawing capabilities.

</p><p>
<img src="/static/img/ss/wx/test2.gif" width="320" height="200" alt="" border="0">

</p><p></p><hr><p>


One of my favorites!

</p><p>
<img src="/static/img/ss/wx/test3.gif" width="529" height="228" alt="" border="0">

</p><p></p><hr><p>
This one shows the text control in multi-line mode.  In this window it is used as a place to log messages from various events that are captured by child windows.</p><p>

<img src="/static/img/ss/wx/test4.gif" width="420" height="200" alt="" border="0">



</p>
<p></p><hr><p>

A simple Dialog box showing off some of the controls</p><p>
<img src="/static/img/ss/wx/test4a.gif" width="350" height="350" alt="" border="0">

</p><p></p><hr><p>
This is a Layout Constraints demo window.  As the frame is resized the panels will resize as well in accordance to the attachments and relative sizes defined by the constraints.</p><p>
<img src="/static/img/ss/wx/test4b.gif" width="500" height="300" alt="" border="0">

</p><p></p><hr><p>
The wxGrid.  Many attributes of the rows, columns and cells are definable</p><p>
<img src="/static/img/ss/wx/test4c.gif" width="505" height="326" alt="" border="0">

</p><p></p><hr><p>

The sash in the middle is dragable, and the child windows are sized automatically.</p><p>
<img src="/static/img/ss/wx/test4d.gif" width="500" height="300" alt="" border="0">


</p><p></p><hr><p>

The wxNotebook controls.  The child windows can be anything except frame windows, so you can put the traditional Panel and Dialog controls there, or custom windows of your own creation.  The tabs can also contain images in addition to the label.</p><p>
<img src="/static/img/ss/wx/test4e.gif" width="376" height="300" alt="" border="0">

</p><p></p><hr><p>
This one shows a custom StatusBar that was implemented in wxPython and then attached to the frame.</p><p>
<img src="/static/img/ss/wx/test4f.gif" width="500" height="189" alt="" border="0">

</p><p></p><hr><p>
Hmmm... Not sure what this is... :-)</p><p>
<img src="/static/img/ss/wx/test4g.gif" width="500" height="216" alt="" border="0">

</p><p></p><hr><p>

I got tired of making screenshots so here is a list of the common dialogs.</p><p>
<img src="/static/img/ss/wx/test4h.gif" width="420" height="293" alt="" border="0">

</p><p></p><hr><p>
Here are some screen shots from wxPython/GTK.  Some are the same apps as above, some are new.</p><p>

<img src="/static/img/ss/wx/pyrules.gif" width="390" height="177" border="0" alt=""></p><p>
<img src="/static/img/ss/wx/grid.gif" width="505" height="330" border="0" alt=""></p><p>
<img src="/static/img/ss/wx/statusbar.gif" width="491" height="106" border="0" alt=""></p><p>
<img src="/static/img/ss/wx/notebook.gif" width="465" height="268" border="0" alt=""></p><p>
<img src="/static/img/ss/wx/slash.gif" width="650" height="280" border="0" alt=""></p><p>

</p><p></p><hr><p>

This one is a C++ wxWidgets app with an embedded Python interpreter.  If you look closely you can see that wxPython code is being executed within the application.  </p><p>

<img src="/static/img/ss/wx/pyide.gif" width="738" height="505" border="0" alt=""></p><p>

This is a shot of the new DEMO, currently showing the XML tree browser.</p><p>

<img src="/static/img/ss/wx/textxml.gif" width="700" height="550" border="0" alt="">

</p><p></p><hr><p>
<a name="sizers"></a>
These images show how the sizers work.  Notice how some sub-windows stay fixed in one dimension and stretch in the other, some stretch in both directions, and how "seven" automatically gets more vertical space than its siblings.</p><p>

<img src="/static/img/ss/wx/sizer3.gif" width="268" height="502" border="0" alt="" align="left">
<img src="/static/img/ss/wx/sizer1.gif" width="263" height="250" border="0" alt="">
<img src="/static/img/ss/wx/sizer2.gif" width="475" height="357" border="0" alt="">

</p><p></p><hr><p>
<a name="html"></a>
This is one that I am mighty proud of.  Based on an idea from Harm van der Heijden, this demo shows a wxHtmlWindow that contains some custom tags.  There is a class derived from wxTagHandler that is able to dynamically create and place any non-managed wxWindow directly on the html page!

</p><p>
<img src="/static/img/ss/wx/html.gif" width="772" height="772" alt="" border="0">

</p><p></p><hr><p>
<a name="calendar"></a>
A calendar control contributed by Lorne White.
</p><p>
<img src="/static/img/ss/wx/calendar.gif" width="280" height="300" alt="" border="0">


</p>
    </div>
{% endblock %}
